body {
    background-image: url("https://images.unsplash.com/photo-1657598339759-fd1432d833f0?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzJTIwaW4lMjBza3l8ZW58MHx8MHx8fDA%3D");
    background-size: cover;

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: blue;
    font-size: 56px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

form{
    background-color: black;
}
label{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

